{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h1>ADMIN PANEL</h1>
    </div>

    <h2> List Of Classes: </h2>

<br>
<br>


{% for class in classes %}
    {% if class == 'new_table' or class =='StudentRecord' or class =='TeacherRecord'%}
       {%continue%}
    {%endif%}

<div class=" btn-group-justified">
    <a href="/classes/{{class}}" class="btn btn-info btn-sm"  >{{class}}</a>
    <a href="/deleteclass/{{class}}" class="btn btn-danger btn-sm "  onclick="return confirm('Are You Sure For Delete?')" >Delete Class</span></a>
</div>
    {% endfor %}

    </div>


<div class="container">

    <h2>Create a New Class <button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#createClass">Create a Class</button></h2>

</div>

<div id="createClass" class="modal fade" role="dialog">


   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create a New Class</h4>

         </div>
         <div class="modal-body">
            <form action="/create" method="POST" enctype="multipart/form-data">
               <div class="form-group">
                  <label>Class Name:</label>
                  <input type="text" class="form-control" name="classname" required="1">
               </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Create</button>
               </div>
            </form>
         </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

           </div>
         </div>
   </div>

</div>

      {% include "footer.html" %}


{% endblock %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

