{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">


{% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h1>STUDENT PANEL</h1>
    </div>




    <h2> List Of Enrolled Classes:   </h2>

<br>
<br>

{% for class in classes %}

<div class=" btn-group-justified">
    <a href="/student/{{class}}/{{id}}" style="margin-bottom: 10px;" class="btn btn-info btn-lg"  >{{class}}</a>

</div>
    {% endfor %}

    </div>


<div class="container">
  <br>
  <br>
           {% include "footer.html" %}

</div>



{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

